.block-menu-menu-footer-menu {
    ul.menu {
        padding: 0;
        margin: 0;
    }

    li {
        list-style: none;

        a {
            color: $body-font-color;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}