.button.success {
    color: $white;
}

.button.active {
    background: 
}

// Tabs

.tabs .button:hover {
	background: $primary-color;
	color: $white !important;
}
.tabs .button.active {
	background: $primary-color;
	color: $white !important;
}