// Non-modular or client styles for the .l-content region.

#front-intro {
    padding: 20px 0;
    margin: 50px 0;

    h1, h2, h3 {
        text-align: center;
    }

    .front-abstract {
        padding: 40px 0 40px 0;

        .field {
            border-left: 5px solid $primary-color;
            padding-left: 20px;
            margin-left: 10px;

            p {
                font-size: rem-calc(22);
            }

            p:last-child {
                margin: 0;
            }
        }
    }
}

#front-features {
    padding: 20px 0;
    margin: 50px 0;
    background-color: $primary-color;
    color: $white;

    h2 {
        font-size: rem-calc(28);
    }

    p {
        color: #CCDCFF;
    }

    a, h2, h3, strong {
        color: $white;
    }
}

#front-latest-entries {
    padding: 20px 0;
    margin: 50px 0;
}

#front-judges {
    padding: 20px 0;
    margin: 50px 0 0 0;
}